
  h1{
    color: darkolivegreen;
  }
  h2{
    color: darkgoldenrod;
  }
  body{
    background: #2e3d2f;
    color: #292720;
    font-family: "simpleMonoFont";
  }
  #asciiOutput{
    background: #bec7af;
    color: #292720;
    
  }

  #asciiOutput{
    background: #bec7af;
    color: #292720;
  }

  #textInput{
    background: #bec7af;
    color: #292720;
  }

@font-face{
  font-family: "simpleMonoFont";
  src: url("Fonts/JetBrainsMono-Regular.ttf");
}

@font-face{
  font-family: "headerMonoFont";
  src: url("Fonts/MajorMonoDisplay-Regular.ttf");
}

